html,
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	background-color: var(--color-bg-primary);
	color: var(--color-text-primary);
}

#fibo48 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
