:root {
	--color-gold: #daa425;
	--color-navy: #003366;
	--color-midnight-blue: #272757;
	--color-snow: #f2f2f2;

	--color-gold-light: #fbd028;
	--color-gold-strong: #bf9903;

	/* Semantic colors */
	--color-text-primary: var(--color-snow);
	--color-text-inverse: #a9b4c7;
	--color-text-disabled: #6b768c;
	--color-bg-primary: var(--color-midnight-blue);
	--color-bg-secondary: var(--color-purple-300);

	--text-inverse: #ffffff;

	--space-xs: 0.25rem;
	--space-s: 0.5rem;
	--space-m: 1rem;
	--space-l: 1.5rem;
	--space-xl: 2rem;

	--radius-s: 0.25rem;
	--radius-m: 0.5rem;
	--radius-l: 0.75rem;

	--font-sans: "Roboto", system-ui, sans-serif;

	--font-size-small: 1rem;
	--font-size-medium: 1.5rem;
	--font-size-large: 2rem;
	--font-size-extra: 2.5rem;
}

@font-face {
	font-family: "Roboto";
	src: url("/fonts/roboto-regular.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto";
	src: url("/fonts/roboto-medium.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto";
	src: url("/fonts/roboto-bold.woff2") format("woff2");
}

header {
	font-size: var(--font-size-large);

	h1 {
		font-size: var(--font-size-large);
	}

	img {
		width: 50vw;
	}
}

footer {
	padding: var(--space-l);
	display: flex;
	justify-content: center;
	font-size: var(--font-size-small);
}

/* Responsive design for mobile devices */
/* Tablet (≤768px) */
@media (max-width: 768px) {
	:root {
		--font-size-small: 0.875rem;
		--font-size-medium: 1.25rem;
		--font-size-large: 1.5rem;
		--font-size-extra: 2rem;
	}

	header {
		padding: var(--space-m);
		font-size: var(--font-size-medium);

		h1 {
			font-size: var(--font-size-medium);
		}
		img {
			width: 75vw;
		}
	}

	footer {
		padding: var(--space-m);
		font-size: var(--font-size-small);
	}
}

/* Mobile (≤480px) */
@media (max-width: 480px) {
	:root {
		--font-size-small: 0.75rem;
		--font-size-medium: 1rem;
		--font-size-large: 1.25rem;
		--font-size-extra: 1.5rem;
	}

	header {
		padding: var(--space-s) var(--space-m);

		h1 {
			font-size: var(--font-size-medium);
		}

		img {
			width: 75vw;
		}
	}

	footer {
		padding: var(--space-s) var(--space-m);
	}
}
