.modal {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	padding: var(--space-xl) var(--space-xl);
	background: var(--color-midnight-blue);
	opacity: 0.95;

	border-radius: var(--radius-l);
	border: solid var(--space-xs) var(--color-gold-strong);

	width: 44%;
	height: 75%;

	font-family: var(--font-sans);
	color: var(--text-inverse);
	line-height: var(--space-l);
	text-align: center;

	h2 {
		font-size: var(--font-size-large);
	}

	/* Responsive design for mobile devices */
	/* Tablet (≤768px) */
	@media (max-width: 768px) {
		width: 60%;
		height: 80%;
	}

	/* Mobile (≤480px) */
	@media (max-width: 480px) {
		width: 60%;
		height: 80%;
	}
}
